@model QuanLyNhanVien.Models.NhanVien

@{
    ViewData["Title"] = "xóa";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa???</h3>
<div>
    <h4>Nhân viên: @Html.DisplayFor(model => model.Ten) </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Ten)*@
            Tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.DiaChi)*@
            Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SoDienThoai)*@
            Số điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại danh sách</a>
    </form>
</div>
